rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Fonction pour vérifier si l'utilisateur est connecté
    function isAuthenticated() {
      return request.auth != null;
    }

    // Fonction pour vérifier si l'utilisateur est admin
    function isAdmin() {
      return isAuthenticated() && 
        firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.role == 'adminuser';
    }

    // Règles pour les images
    match /images/{imageId} {
      allow read: if true;
      allow write: if isAuthenticated() && isAdmin();
    }

    // Règles par défaut
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}